@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Identidade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/app.css" />
</head>
<body>
    <div class="container mt-4">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
