@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="typeof(Layout.MainLayout)">
                        <div class="m-4">
                            <h1>Não autorizado</h1>
                            <p>Você precisa estar autenticado para acessar esta página.</p>
                            <a href="/Identity/Account/Login">Ir para Login</a>
                        </div>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="typeof(Layout.MainLayout)">
                        <p>Verificando credenciais...</p>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p role="alert">Página não encontrada.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
